@import "variables.less";

.navigation{
    background-color: @yellow;
    a{
        color: @black;  
    }
    
}


h2 {
 text-transform: @title;
 font-size: @h2-size;
}

P{
    font-family: @main-font;
    color: @light-black;
    font-weight: 400;

}

header{
    background-color:#3B3838;
    position: relative;
}

.banner{
    opacity: 33%;
    background-color:#3B3838 
}
.overlay{
    position:absolute;
    bottom: 0;
    color: #f1f1f1;
     width: 100%;
     text-align: center;


}

button{
    color: @light-black;
    background-color:@yellow;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    padding: .8rem;
  
}
.best-burgers{
    padding: 4rem;
}



.dine-in{
    background-color: @light-grey;
    padding: 4rem;

}


footer{
    background-color: @black;
    border-top: 8px solid @yellow;
    text-align: center;

 
}

  