@import "variables.less";
@import "mixins.less";

.navigation{
    #article();
    background-color: @yellow;
    a{
        color: @black;  
        font: @main-font;
    }
    
}


h2 {
 text-transform: @title;
 font-size: @h2-size;
}

P{
    font-family: @main-font;
    color: @light-black;
    font-weight: 400;

}

header{
    background-color:#3B3838;
    position: relative;

    .banner{
        opacity: 33%;
        background-color:#3B3838 
    }
    .overlay{
        position:absolute;
        bottom: 0;
        color: #f1f1f1;
         width: 100%;
         text-align: center;
    
    
    }
}



button{
    .button();
  
}
.best-burgers{
    #article();
}



.dine-in{
    background-color: @light-grey;
    #article();

}


footer{
    background-color: @black;
    border-top: 8px solid @yellow;
    text-align: center;

 
}

  