@import "variables.less";
@import "mixins.less";

.navigation{
    #article();
    background-color: @yellow;
    a{
        color: @black;  
        font: @main-font;
    }
    
}


h2 {
 text-transform: @title;
 font-size: @h2-size;
}

P{
    font-family: @main-font;
    color: @light-black;
    font-weight: 400;

}




.banner{
    background-color:#3B3838;
    top: 50%;
    left: 50%;
    
    .background{
    
        opacity: 33%;
        position: relative; 
    }
    

    .overlay{
        position:absolute;
        text-align: center;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
        width: 100%;

      
        
        
     }

}    





/*
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner-bg.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
*/

button{
    .button();
  
}
.best-burgers{
    #article();
}



.dine-in{
    background-color: @light-grey;
    #article();

}


footer{
    background-color: @black;
    border-top: 8px solid @yellow;
    text-align: center;

 
}

  